@(message: service.SoUser)
<html>
  <head>
    <title>Has @Html(message.name) reached 1,000,000 yet?</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css"/>
  </head>
  <body>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37081052-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <h1>Has @Html(message.name) reached 1,000,000 yet?</h1>
    <a href=@Html(message.soPage)><img src=@Html(message.imageUrl)/></a>
    <h2>NO</h2>
    <p>Current score: @message.rep</p>
    <p>Expected to hit 1,000,000: @Html(message.expectedDate)</p>
  </body>
</html>
